@charset "utf-8";
/* CSS Document */
#aboutMe{
	margin-top:75px;
	margin-bottom:100px;
	margin-left:auto;
	margin-right:auto;
	width:75%;
	}
	
	#aboutMe h4{
		position:relative;
		padding-top:15px;
		margin-left:15px;
		line-height:5px;
		padding-bottom:0px;
		margin-bottom:0px;
		font-size:46px;
		font-weight:400;
		font-family:felix titling, serif;
			}
			
	#aboutMe p{
		position:relative;
		margin-top:50px;
		line-height:30px;
		font-family:Century Gothic,CenturyGothic,AppleGothic, sans-serif;
		font-size:18px;
		}
		
	#selfPortrait{
		float:left;
		position:relative;
		margin-right:30px;
		margin-bottom:25px;
		width:250px; 
		height:300px;
		background-image:url(../Resources/Me.png);
		}
	.aDropCap{
		float:left;
		padding-top:48px;
		margin-right:3px;
		padding-bottom:0px;
		margin-bottom:0px;
		font-weight:400;
		font-family:felix titling, serif;
		font-size:52px;
		}
		
	
